.table-hover> tbody> tr:hover{
    background-color:lightgray;
}

.table-hover> tbody> tr:hover{
    cursor: pointer;
}

a {
    text-decoration:none; 
    color:black;
}

div{
    height:100%;
    width:100%;
}