<div class="card">
  <div class="card-header">
    Coin Markets
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead class="text-secondary">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Pages</th>
          <th scope="col">CryptoCurrencies</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let link of links">
          <td class="py-1"><a href="{{link.link}}" target="_blank"><div>{{link.rank}}</div></a></td>
          <td><a href="{{link.link}}" target="_blank"><div>{{link.title}}</div></a></td>
          <td><a href="{{link.link}}" target="_blank"><div style="color: #998F8D;">{{link.cryptocurrencies}}</div></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>