<table class="table table-hover">
    <thead class="">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Pages</th>
        <th scope="col">CryptoCurrencies</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let link of links">
        <th scope="row"><a href="{{link.link}}" target="_blank"><div>{{link.rank}}</div></a></th>
        <td><a href="{{link.link}}" target="_blank"><div>{{link.title}}</div></a></td>
        <td><a href="{{link.link}}" target="_blank"><div style="color: #998F8D;">{{link.cryptocurrencies}}</div></a></td>
      </tr>
    </tbody>
  </table>