
<div class="card" style="width: 22rem; margin: auto; vertical-align: bottom;">
    <div class="card-body">

        <input type="number" class="browser-default custom-input custom-input-lg mb-3" value="1" [(ngModel)]="amount"> 
        <div id="coinsContainerFirst">
            <select id="firstCoins" class="browser-default custom-select custom-select-lg mb-3">
                <option *ngFor="let coin of cryptoCoins.Data" value="{{coin.CoinInfo.Name}}">
                    {{coin.CoinInfo.FullName}}({{coin.CoinInfo.Name}})</option>
            </select>
        </div>

        <button (click)="onExchangeClick()" type="button" class="btn btn-primary" style="margin-left: 30%; margin-bottom: 5%;">
            Exchange
        </button>

        <div id="coinsContainerSecond">
            <select id="secondCoins" class="browser-default custom-select custom-select-lg mb-3">
                <option *ngFor="let coin of coins" value="{{coin.id}}">{{coin.name}}({{coin.id}})</option>
            </select>
        </div>

        <button (click)="onCalculateClick()" type="button" class="btn btn-primary">
            Accept
        </button>

        <div class="card" style="margin-top: 5%;" *ngIf="showQuotation">
            <p>
                {{aux.value}}
            </p>
        </div>
    </div>
</div>

