<div class="card">
    <div class="card-header">
        Coin Stats
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
                <div class="card">
                    <div class="card-body">

                        <div class="row mx-auto">
                            <img id="coin-image-card" class="rounded-circle w-20" alt="{{card.name}}" src="{{card.image}}">
                            <h4 class="ml-2 coin-price">{{card.price}}</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-2">
                                <p class="perc falling" *ngIf="checkCardVariation(card.variation) else Positive">{{card.variation}}%</p>
                                <ng-template #Positive>
                                    <p class="perc rising">{{card.variation}}%</p>
                                </ng-template>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h6 class="border-bottom">MARKET CAP</h6>
                                <p>{{card.mktCap}}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h6 class="border-bottom">CIRC. SUPPLY</h6>
                                <p>{{card.circSply}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h6 class="border-bottom">24H VOL</h6>
                                <p>{{card.allDayVol}}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h6 class="border-bottom">24H RANGE</h6>
                                <p>{{card.dayLow}} / {{card.dayHigh}}</p>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>                         
        </div>
    </div>       
    <div class="chart-actions">
        <ul class="timeframes">
            <li id="hour" class (click)="onShowCryptocurrenciesGraphicHour()">1HR</li>
            <li id="day" class (click)="onShowCryptocurrenciesGraphicDay()">1D</li>
            <li id="week" class="active" (click)="onShowCryptocurrenciesGraphicWeek()">1W</li>
            <li id="month" class (click)="onShowCryptocurrenciesGraphicMonth()">1M</li>
            <li id="year" class (click)="onShowCryptocurrenciesGraphicYearly()">1Y</li>
        </ul>
    </div>     
    <div class="chart-wrapper mt-1">
        <div id="chart">
            <canvas id="chart-canvas"></canvas>
        </div>
    </div>
</div>