<div class="top">
    <div class="left">
        <div class="component-header">
            <label>Top 10 Leaderboard</label> 
            <div class="select-box">
                <select id="selectCurrency">
                    <option value="0">USD</option>
                    <option value="1">EUR</option>
                    <option value="2">GBP</option>
                </select>
            </div>
        </div>
        <table class="table table-hover">
            <thead class="aux">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">24H CHG</th>
              </tr>
            </thead>
            <tbody id="tableRefresh">
              <tr *ngFor="let coin of informationList; trackBy: trackItem" (click)="cryptocurrencySelected(coin)">
                <th>
                    <img alt="" src="{{coin.image}}" id="coinImage">
                    <p id="coinName">{{coin.name}}</p>
                </th>
                <td><p>{{coin.price}}</p></td>
                <td>
                    <p class="perc falling" *ngIf="coin.variation.charAt(0)=='-'; else Positive">
                        {{coin.variation}}%
                    </p>

                    <ng-template #Positive>
                        <p class="perc rising">
                            {{coin.variation}}%
                        </p>
                    </ng-template>              
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    
    <div class="right">
        <div class="coin-stats">
            <div class="left">
                <label>Bitcoin Price</label>
                <div>
                    <img alt="" src="{{card.image}}">
                    <p class="price">{{card.price}}</p>
                    <p class="perc-horizontal falling">{{card.variation}}</p>
                    <!-- <p class="perc-vertical falling">2.05%</p> -->
                </div>
            </div>
            <div class="right">
                <div class="top">
                    <div>
                        <label>MKT CAP</label>
                        <p>{{card.mktCap}}</p>
                    </div>
                    <div>
                        <label>CIRC SPLY</label>
                        <p>{{card.circSply}}</p>
                    </div>
                    <div>
                        <label>24H VOL</label>
                        <p>{{card.allDayVol}}</p>
                    </div>
                </div>
                <div class="bottom" id="label_high_low"><div>
                    <label>24H HIGH/LOW</label>
                    <p>{{card.dayHigh}} / {{card.dayLow}}</p>
                </div>
                <div></div>
            </div>
        </div>
    </div>  

    <div class="chart-wrapper">

        <div id="divChart">
        
            <canvas id="myChart"></canvas>
        </div>
    </div>

</div>

