<!-- Toolbar -->
<!-- <router-outlet></router-outlet> -->
<nav-bar></nav-bar>
<div class="container-fluid py-2">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mt-2">
                    <app-conversor></app-conversor>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                    <app-leadboard></app-leadboard>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
                    <app-links-table></app-links-table>
                </div>                
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mt-2">
            <app-card></app-card>
        </div>        
    </div>
</div>

